<jhi-alert></jhi-alert>

<form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <label>Titre</label>
    <input type="text" class="form-control" name="title" ngModel>
    <br>
    <label>Prix</label>
    <textarea type="text" class="form-control" name="pricing" ngModel></textarea>
    <br>
    <label>Description</label>
    <textarea type="text" class="form-control" name="description" ngModel></textarea>
    <br>
    <label>Scope</label>
    <textarea type="text" class="form-control" name="scope" ngModel></textarea>
    <br>
    <button class="btn btn-primary" type="submit">Enregistrer</button>
</form>
