<jhi-alert></jhi-alert>
<h1> Création d'une annonce</h1>
<form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="example-container">
        <mat-form-field>
            <input matInput placeholder="Titre de l'annonce" name="title" ngModel>
        </mat-form-field>

        <mat-form-field>
            <textarea matInput placeholder="Pricing" name="pricing" rows="5" ngModel></textarea>
        </mat-form-field>

        <mat-form-field>
            <textarea matInput placeholder="Description de l'annonce" name="description" rows="5" ngModel></textarea>
        </mat-form-field>

        <mat-form-field>
            <textarea matInput placeholder="Scope" name="scope" rows="5" ngModel></textarea>
        </mat-form-field>
    </div>
    <button class="btn btn-primary" type="submit">Enregistrer</button>
</form>
