.example-card {
    max-height: 200px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    background: #eeeeee;
    width: 70%;
}

.example-header-image {
    background-image: url('logo.png');
    background-size: cover;
}

img {
    max-width: 100px;
}

.card {
    border: none;
    width: 33%;
    background: #eeeeee;
}

#buttons {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.example-container {
    display: flex;
    flex-direction: column;
}

.example-container > * {
    width: 70%;
}

.example-right-align {
    text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
    display: none;
}

input.example-right-align {
    -moz-appearance: textfield;
}
