@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

/* ==========================================================================
Navbar
========================================================================== */

.profile-image {
    height: 1.75em;
    width: 1.75em;
}

.navbar {
    padding: 0.2rem 1rem;
    .dropdown-item.active,
    .dropdown-item.active:focus,
    .dropdown-item.active:hover {
        background-color: $light;
    }

    ul.navbar-nav {
        .nav-item {
            margin-left: 0.5em;
        }
    }

    a.nav-link {
        font-weight: 500;
    }

    .navbar-toggler {
        &:hover {
            color: $navbar-light-hover-color;
        }
    }
}

.onglet {
    display: flex;
}

.navbar-title {
    font-size: 1.3em;
}

/* ==========================================================================
Logo styles
========================================================================== */
